*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    
    background: #333;

}

.box
{
    width: 300px;
    height: 300px;
    margin: 20px;
    background: salmon;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)/*translate(50px,200px)
                rotate(360deg) 
                scale(2)
                skew(50deg,50deg)*/
    transition: all 1000ms cubic-bezier(.71,-0.44,.63,1.43);
    /*
    property
    duration
    timing function
    delay
    */

}
.box:hover
{
    transform: rotate(180deg);

}

