*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: 100vh;
    background: #333;
    font-family: sans-serif;
}

.box
{
    width: 300px;
    height: 300px;
    margin: 20px;
    background: salmon;
    /*
    annimation-name: spin;
    annimation-duration: 2s;
    annimation-iteration-count: 1;
    annimation-fill-mode: backwards;(forwards)
    annimation-direction:alternate;
    annimation-timing-function: ease-in;(ease-out)
    */
    
     
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    65%{
        background: lightblue;
    }
    100% {
        transform: rotate(720deg);
    }
}
.box:hover
{
    animation: spin 2s;
}
